@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400;500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  // font-family: 'Times New Roman', Times, serif;

  &:hover {
    color: inherit;
  }
}

body {
  display: flex;
  justify-content: center;
}

#root {
  width: 100vw;
  // background-color: aliceblue;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

#TaskContainer {
  width: 100vw;
  height: 100vh;

  // background-color: greenyellow;

  display: flex;
  flex-direction: column;

  // justify-content: space-around;

  // >div {
  //   height: max-content;
  //   border: red 2px solid;
  //   // align-self: center;
  //   // justify-self: center;
  //   // justify-items: center;
  // }
}

#Tasks {
  // justify-self: center;
  align-self: center;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 2px solid red;
  width: 100vw;

  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

// #Footer {}

#Task {
  display: flex;
  justify-content: center;

  border: 2px solid green;
  width: 70vw;
  padding: 5px;
}

#PostTask {
  padding: 20px;
  width: 70vw;
  // background-color: greenyellow;
  // position: absolute;
  // width: 70vw;
}

#title {
  display: flexbox;
  // justify-content: flex-start;
  // align-items: flex-start;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  border: 0.5em solid lightblue;
  border-radius: 5px;
}

#TaskList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  // border: 2px solid red;

  > div {
    align-self: center;
    justify-self: center;
    // justify-items: center;
    width: 70vw;
  }
}
